<% include ./partials/header %>

<div class="ui main text container segment" style="padding-bottom: 10px;">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached" style="padding-top: 6px;">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" style="padding-bottom: 10px;">
            <div class="content" style="padding-bottom: 10px;">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description" style="padding-bottom: 10px;">
                <p ><%- blog.body %></p>
            </div>
            <a class="ui blue basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>

<%include ./partials/footer%>